* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

:root {
  --cinza-azulado-claro: #172536;
  --cinza-azulado-escuro: #030911;
  --azul-claro: #b7d6ff;
  --amarelo-claro: #ffdea8;
  --branco-pagina: #a8b9c1;
}

.chapter {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}

header {
    position: fixed;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px 0px 20px;
    background-color: var(--cinza-azulado-escuro);
    width: 100%;
    height: 3rem;
    
}

/* MENU HAMBÚRGUER */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 1.5rem;
    cursor: pointer;
}

.linha {
    background-color: #ffffff;
    height: 0.18rem;
    transition: 0.2s;
}

#menu-toggle {
    display: none;
}



/* ANIMAÇÃO DO MENU HAMBÚRGUER ABRINDO */
#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
    transform: rotate(50deg) translate(0px, 0.8rem);
}
#menu-toggle:checked + .menu-icon .linha:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon .linha:nth-child(3) {
    transform: rotate(-50deg) translate(0px, -0.8rem);
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: var(--branco-pagina);
    box-shadow: 0px 0px 20px black;
    height: 100vh;
    width: 15rem;
    transition: all 0.2s;
    opacity: 1;
}

.overlay-disable {
    transform: translateX(100%);
    opacity: 0;
}







main {
    background-color: var(--branco-pagina);
    flex-grow: 1;
    padding: 100px 200px 100px 200px;
    
}


pre {
    font-family: "Roboto Serif";
    line-height: 3rem;
    font-weight: 500;
    text-wrap: wrap;
    font-size: 1.5rem;
}





/* LEFT/RIGTH BUTTONS  */
.see-books-button {
  z-index: 1;
  font-size: 2rem;
  color: var(--cinza-azulado-escuro);
  opacity: 0.5;
  cursor: pointer;
}

.see-books-button:hover {
  opacity: 1;
}

#next-book-button {
  position: fixed;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}

#previous-book-button {
  position: fixed;
  left: 7px;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
}

.disable {
    display: none!important;
}








footer {
    position: fixed;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    background-color: var(--cinza-azulado-escuro);
    height: 3vh;
}